.advantages.section {
    padding-bottom: 0;
}

.advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.advantages__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-bg-color);

    &:not(:last-child) {
        margin-right: 30px;
    }
}


.advantages__icon {
    padding-right: auto;
    padding-left: auto;
}

.advantages-list__item {
    max-width: 270px;
    flex-basis: calc((100% - 30px) / 4);

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.advantages__subtitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-txt-color);
}

.advantages__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}