.logo-footer {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-white-color);
}

.logo-footer .logo-blue {
    display: inline-block;
    margin-bottom: 20px;
}